<!DOCTYPE html>
<html>

<head>	
	<meta charset='utf-8'>
	<title>{{title}}</title>
</head>

<body>
	<div id='info'>
		<a href={{firstLink}}>{{fLinkDisp}}</a>
		<a href={{secondLink}}>{{sLinkDisp}}</a>
		<div id='box'>
			<img src={{image}} />
			<img src={{image2}} />
		</div>
	</div>
</body>

</html>